<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.MemberManageMapper">

	<select id="listMembers" parameterType="map" resultType="com.sp.app.model.Member">
		SELECT num, id, nickName, grade, block, mod_date
		FROM member
		<where>
			<if test="schType=='all' and kwd != ''">
				 (id LIKE '%' || #{kwd} || '%' OR nickName LIKE '%' || #{kwd} || '%')
			</if>
			<if test="schType=='id' and kwd != ''">
				id LIKE '%' || #{kwd} || '%'
			</if>
			<if test="schType=='nickName' and kwd != ''">
				nickName LIKE '%' || #{kwd} || '%'
			</if>
			<!--  역할 필터링 조건 추가 -->
			<if test="role=='member'">
				AND grade = 0
			</if>
			<if test="role=='admin'">
				AND grade = 1
			</if>
		</where>
		ORDER BY num DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>

	<select id="dataCount" parameterType="map" resultType="Integer">
        SELECT COUNT(*) FROM member
    	<where>
    		<if test="schType=='all' and kwd != ''">
				 (id LIKE '%' || #{kwd} || '%' OR nickName LIKE '%' || #{kwd} || '%')
			</if>
    		<if test="schType=='id' and kwd != ''">
    			id LIKE '%' || #{kwd} || '%'
    		</if>
    		<if test="schType=='nickName' and kwd != ''">
                nickName LIKE '%' || #{kwd} || '%'
            </if>
            <!-- 역할 필터링 조건 추가 -->
            <if test="role=='member'">
                AND grade = 0  <!-- 회원인 경우 -->
            </if>
            <if test="role=='admin'">
                AND grade = 1  <!-- 관리자인 경우 -->
            </if>
    	
    	</where>
    </select>
    
    <update id="updateMemberAuthority" parameterType="map">
    	UPDATE member
    	SET block = #{memberBlock},
    		mod_date = sysdate
    	WHERE num = #{memberNum}    
    </update>
</mapper>